body {
    margin: 0;
    padding: 0;
    background-color: rgb(182, 179, 179);
}
#wrapper {
    width: 1100px;
    margin: 40px auto;
    border: 1px solid black;
}
.center {
    padding: 20px 20px;
}
.header_menu ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 20px;
}
.header_menu a {
    padding-right: 20px;
}
.header_menu a:link, .header_menu a:visited {
    color: red;
    text-decoration: none;
}
.header_menu a:hover {
    color:brown;
}